// https://coolors.co/190e1a-673d6f-cb793a-fcdc4d-f5dfb8
$licorice: #190e1aff;
$dark-purple: #534564; //#402645ff;
$finn: #685373; //#673d6fff;
$light-purple: #a088a2; //#7a5f7b;
$caramel: #fcb045ff;
$caramel-gradient: radial-gradient(#fcd789, $caramel);
$mustard: #fcdc4dff;
$wheat: #f4e8daff;
$floral-white: #f4e8da;
$danger: #b94c41;
$danger-gradient: radial-gradient(#e68162, $danger);

body {
	background-color: $dark-purple;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Nunito', sans-serif;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	color: $floral-white;
}

h1 {
	margin: 1rem 0 0 0;
	text-align: center;
}

h2 {
	margin: 1rem 0 0 0;
	text-align: left;
	color: $licorice;
}

h3 {
	margin: 0;
	text-align: left;
	margin: 0 0 0 1rem;
}

hr {
	border: 1px solid $floral-white;
	margin: 0 1rem 1rem 1rem;
}

header {
	margin-top: 1rem;
}

p {
	margin: 0;
	margin-bottom: .5rem;
}

.current-user {
	display: flex;
	justify-content: center;
	align-items: center;

	.icon-button {
		margin: 0 .5rem;
		transition: transform 0.2s;
		background-color: $floral-white;
		transform: translateY(6px);

		svg {
			color: $licorice
		}
	}

	.icon-button:hover {
		transform: scale(1.1);
	}
}


.user-info {

	display: flex;
	justify-content: space-around;
	align-items: center;

	.state {
		background-color: $caramel;
		padding: .25rem .5rem;
		border-radius: 5rem;
		color: $licorice;
		box-shadow: 3px 3px $licorice;
		font-weight: bolder;
		text-transform: uppercase;
		background: $caramel-gradient;
	}
}

.user-day-summary {}

.goals,
.rewards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	.goal,
	.reward {
		text-align: left;
		display: flex;
		align-items: flex-start;
		background-color: $finn;
		padding: 1rem;
		margin: 0 1rem 1rem 1rem;
		border-radius: 1rem;

		box-shadow: 6px 6px $licorice;

		.goal-text {
			max-width: 60%;
		}

		.spinner {
			height: 13px;
			margin: 6px .75rem 3px 4px;
		}

		input {
			margin-right: .75rem;
			margin-top: 6px;
		}

		.actions {
			margin-left: auto;
			min-width: 3rem;
			display: flex;

			button {
				margin-left: .5rem;
			}
		}
	}
}

.rewards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	.reward {
		text-align: left;
		display: flex;
		align-items: center;
		background-color: $wheat;
		padding: 1rem;
		margin: 0 1rem 1rem 1rem;
		border-radius: 1rem;
		box-shadow: 6px 6px $licorice;

		.reward-content {
			flex: 1;
			overflow-wrap: break-word;
			word-wrap: break-word;
			word-break: break-word;

			h4 {
				margin: 0;
				color: $licorice;
				display: flex;
				justify-content: space-between;
				margin-right: 1rem;

				>* {
					min-width: 3rem;
				}
			}

			p {
				margin: 0;
				color: $licorice;
			}
		}

		.actions {
			margin-left: auto;
			min-width: 3rem;
			display: flex;
			align-items: center;
		}
	}
}

.date-picker {
	display: flex;
	justify-content: center;
	align-items: baseline;

	h2 {
		margin: 0;
		color: $mustard;
	}

	.icon-button {
		margin: 0 .5rem;
		transition: transform 0.2s;
		color: $caramel;
	}

	.icon-button:hover {
		transform: scale(1.1);
	}
}

.icon-button {
	border: none;
	cursor: pointer;
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	min-width: 2.5rem;
	min-height: 2.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s, background-color 0.2s;

	box-shadow: 3px 3px $licorice;

	svg {
		width: 1.25rem;
		height: 1.25rem;
		color: $licorice;
	}

	&:hover {
		transform: scale(1.1);
		background-color: $mustard;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 5px $mustard;
	}

	&.primary {
		background-color: $finn;

		svg {
			color: $light-purple;
		}
	}

	&.secondary {
		background-color: $caramel;
		background: $caramel-gradient;

		svg {
			color: $licorice;
		}
	}

	&.danger {
		background-color: $danger;
		background: $danger-gradient;

		svg {
			color: $licorice;
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;



	.modal-content {
		background: $wheat;
		min-width: 80dvw;
		padding: 2.5rem;
		border-radius: 5px;
		box-shadow: 0 0 15px $licorice;

		.modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.5rem;

			h2 {
				margin: 0;
				color: $licorice;
			}

			.icon-button {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;

				&:focus {
					outline: none;
				}
			}

			.close {
				color: $licorice;
				font-size: 1.5rem;
				cursor: pointer;
			}
		}

		.modal-body {
			margin-bottom: 1.5rem;
		}

		.modal-actions {
			display: flex;
			justify-content: center;
			margin-top: 1.5rem;

			button {
				margin: 0 .75rem;
				transition: background-color 0.2s;
				background-color: $mustard;
				color: $licorice;
			}

			button:hover {
				background-color: $caramel;
			}
		}
	}
}