$licorice: #190e1aff;
$finn: #673d6fff;
$caramel: #cb793aff;
$mustard: #fcdc4dff;
$wheat: #f5dfb8ff;

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: 'Arial', sans-serif;
	background-color: $finn;
}

h2 {
	margin: 1rem 0 0 0;
	text-align: left;
	color: $licorice;
}

.user-day-summary {
	border: solid $caramel 2px;
	border-radius: 5px;
	padding: 1.5rem;
	margin: 1.5rem 0;
	background-color: $wheat;
}

.goals,
.rewards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;

	.goal {
		text-align: left;
		margin-bottom: 1rem;
		display: flex;
		align-items: flex-start;

		.spinner {
			height: 13px;
			margin: 6px .75rem 3px 4px;

		}

		input {
			margin-right: .75rem;
			margin-top: 6px;
		}

		.actions {
			margin-left: auto;
			min-width: 3rem;

			* {
				margin-left: .5rem;
			}
		}
	}
}

.rewards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;


	.reward {
		display: flex;
		flex-direction: column;
		text-align: left;

		h4 {
			margin: 0;
			color: $caramel;
		}

		p {
			margin: 0;
			color: $licorice;
		}
	}
}

.date-picker {
	display: flex;
	justify-content: center;
	align-items: baseline;

	h2 {
		margin: 0;
		color: $mustard;
	}

	.icon-button {
		margin: 0 .5rem;
		transition: transform 0.2s;
		color: $caramel;
	}

	.icon-button:hover {
		transform: scale(1.1);
	}
}

.icon-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

	&:focus {
		outline: none;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;



	.modal-content {
		background: $wheat;
		padding: 2.5rem;
		border-radius: 5px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

		.modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.5rem;

			h2 {
				margin: 0;
				color: $licorice;
			}

			.icon-button {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;

				&:focus {
					outline: none;
				}
			}
		}

		.modal-body {
			margin-bottom: 1.5rem;
		}

		.modal-actions {
			display: flex;
			justify-content: center;
			margin-top: 1.5rem;

			button {
				margin: 0 .75rem;
				transition: background-color 0.2s;
				background-color: $mustard;
				color: $licorice;
			}

			button:hover {
				background-color: $caramel;
			}
		}
	}


}